apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: 2.47.0
    secureJsonData: {}

  - name: TimescaleDB
    type: postgres
    access: proxy
    url: timescaledb:5432
    database: iot_platform
    user: iot_user
    isDefault: false
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: true
    secureJsonData:
      password: iot_password

  - name: TimescaleDB (Read-Only)
    type: postgres
    access: proxy
    url: timescaledb:5432
    database: iot_platform
    user: iot_user
    isDefault: false
    editable: false
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: true
      readOnly: true
    secureJsonData:
      password: iot_password

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    isDefault: false
    editable: true
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        tags: ['job', 'instance', 'pod', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: false
        spanStartTimeShift: '1h'
        spanEndTimeShift: '-1h'
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: prometheus
        tags: [{ key: 'service.name', value: 'service' }, { key: 'job' }]
        queries:
          - name: 'Sample query'
            query: 'sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))'
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      search:
        hide: false
      spanBar:
        type: 'Tag'
        tag: 'http.path'

deleteDatasources:
  - name: TestData DB
    orgId: 1
